.custom .focused-input {
    box-shadow: none !important;
}

.custom #okta-sign-in.auth-container .button-primary {
    color:#fff;
    background-color:#eea724;
    background:-o-linear-gradient(top,#eea724 0,#b77800 100%);
    background:-ms-linear-gradient(top,#eea724 0,#b77800 100%);
    background:-webkit-gradient(linear,left top,left bottom,from(#eea724),to(#b77800));
    border-color: #b77800;
}

.custom #okta-sign-in.auth-container .okta-form-input-field.focused-input {
    border-color: #b77800;
}

.custom #okta-sign-in .registration-container .registration-link {
    color: #b77800;
}

.custom #okta-sign-in.auth-container .button-primary:active,
.custom #okta-sign-in.auth-container .button-primary:focus,
.custom #okta-sign-in.auth-container .button-primary:hover {
    background-color:#eea724;
    background:-o-linear-gradient(top,#eea724 0,#E19A17 100%);
    background:-ms-linear-gradient(top,#eea724 0,#E19A17 100%);
    background-image:-webkit-gradient(linear,left top,left bottom,from(#eea724),to(#E19A17));
    background-image:-webkit-linear-gradient(#eea724,#E19A17);
    background-image:linear-gradient(#eea724,#E19A17);
    border-color:#b77800;
}